= render 'layouts/navigation'

= render 'layouts/aside'

%div#main-content

  :javascript
    $(function() {
      $("#registration-form").on("submit", function(event) {
        setTimeout(function() {
          this.submit();
        }, 50);
        event.preventDefault();
      });
    });

  = render 'form'
