= render 'layouts/navigation'

.content
  %h2 Task 3

  %div.task3
    %div
      %h3 Part 1

      %p
        Style the form so that it looks like this:
        %br
      = image_tag('test.png')

    %div
      %h3 Part 2

      %p
        Style the error messages from the previous task. The error message
        should appear directly below the field

  = render 'form'
