= render 'layouts/navigation', task: 'Task 3'

= render 'layouts/aside', task: 'Task 3'

%div#main-content

  %h1 Please enter your data:

  %div.task3
    %div
      %h3 Part 1

      %p.task
        Style the form so that it looks like this:
        %br
      = image_tag('form.png')

    %div
      %h3 Part 2

      %p.task
        Style the error messages from the previous task. The error message
        should appear directly below the field

  = render 'form'
