%ul.extra-nav
  %li= link_to('Awesome', '#')
  %li= link_to('Amazing', '#')
  %li= link_to('Astonishing', '#')

%h2 Task 4

%p
  This layout is not bad, but we would like something more spicy. As you
  can see in the picture, we would like to switch to a vertical navigation, which has a fixed width. To the right there is an extra navigation bar of fixed width too. The center takes the rest of the space, and the form should be centered within it.
  %br

  = image_tag('test.png')
