= render 'layouts/navigation'

= render 'layouts/aside'

%div#main-content

  %h1 HTML / CSS

  %div
    %div
      %h3 Part 1

      %p.task
        Style the form so that it looks like this:
        %br
      = image_tag('form.png')

    %hr

    %div
      %h3 Part 2

      %p.task
        Style the error messages from the previous task. The error message
        should appear directly below the field

  = render 'form'
