= render 'layouts/navigation'

= render 'layouts/aside'

%div#main-content

  %h1 HTML / CSS

  .task
    %p OK, so this is the bonus task. We, and everybody else, is moving towards a mobile world. That is why we want this page to become responsive. The layout from the last task should be somewhat fluid already, but want to have a proper mobile view. It should look like the picture below. Note that the main navigation stacks, the secondary navigation disappears altogether and the form uses one row per input field.

    %br

    = image_tag('mobile.png')
