- unless params[:hide_navigation]
  %aside#other-content
    %h4.right-headline XE Ruby Team
    %ul.team
      %li
        %strong.user-name Mario Fernandez
        %span.user-position Technical Lead
      %li
        %strong.user-name Yuliya Tsukanava
        %span.user-position Ruby on Rails Developer
      %li
        %strong.user-name Jason Franklin
        %span.user-position Ruby on Rails Developer
      %li
        %strong.user-name Marcus Lankenau
        %span.user-position Ruby on Rails Developer
      %li
        %strong.user-name Nils Gemeinhardt
        %span.user-position Manager Softwareentwicklung
      %li
        %strong.user-name Anastasia Chicu
        %span.user-position Agile Tester
      %li
        %strong.user-name Erwann Jooris
        %span.user-position Agile Project Manager
