!!!
%html
  %head
    %title FeCodingTest
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %header
      %a{ href: "#", class: "logo"} XING EVENTS
    %main#content
      = yield
    %footer
      %div{ class: "pro-jobs"}
        %em XING EVENTS JOBS
        %span - Simply boost your career.
      %nav{ class: "footer-legal"} XING AG | All rights reserved
